.App {
  box-sizing: border-box;
  padding: 20px;
  background-color: rgb(132, 214, 156);
  color: #FAFAFF;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h1,
h3 {
  padding: 0;
  margin: 3px;
}

.Board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.clock-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.333%;
  height: 150px;
  font-size: 0.8rem;
  background-color: #323F89;
  object-fit: cover;
  border: 3px solid #E4D9FF;
  border-radius: 20px;
}

/* .clock-flex:nth-child(1) {
  background-image: url(https://source.unsplash.com/random/500x500?stockholm);
}

.clock-flex:nth-child(2) {
  background-image: url(https://source.unsplash.com/random/500x500?london);
}

.clock-flex:nth-child(3) {
  background-image: url(https://source.unsplash.com/random/500x500?tehran);
}

.clock-flex:nth-child(4) {
  background-image: url(https://source.unsplash.com/random/500x500?chicago);
}

.clock-flex:nth-child(5) {
  background-image: url(https://source.unsplash.com/random/500x500?omsk);
}

.clock-flex:nth-child(6) {
  background-image: url(https://source.unsplash.com/random/500x500?adelaide);
} */

@media (max-width:680px) {
  .Board {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }

  .clock-flex {
    width: 75%;
    height: 60px;
    font-size: 0.6rem;
  }

  .App {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* .clock-flex:nth-child(1) {
    background-image: url(https://source.unsplash.com/random/300x300?stockholm);
  }
  
  .clock-flex:nth-child(2) {
    background-image: url(https://source.unsplash.com/random/300x300?london);
  }
  
  .clock-flex:nth-child(3) {
    background-image: url(https://source.unsplash.com/random/300x300?tehran);
  }
  
  .clock-flex:nth-child(4) {
    background-image: url(https://source.unsplash.com/random/300x300?chicago);
  }
  
  .clock-flex:nth-child(5) {
    background-image: url(https://source.unsplash.com/random/300x300?omsk);
  }
  
  .clock-flex:nth-child(6) {
    background-image: url(https://source.unsplash.com/random/300x300?adelaide);
  } */


}
